/*Header css*/
.container{
  width: 1536px;
}

.HeaderDiv{
  position: relative;
  bottom: 30px;
  background-color: #6CC4BB;
  width: 100%;
  height: 100%;
}

.Headerh1{
  position: relative;
  color: #480091;
  padding:1%;
}

.TopRightHeader{
}

.HeaderSettings{
}

.HeaderSearch{
  position: relative;
}

.HeaderLinks{
  margin: auto;
  text-align: center;
  padding: 0px 50px;
}

.HeaderLinksUL{
  display: flex;
  width: 50%;
  margin: auto;
}

/*Home CSS*/


.IntroPage{
  position: relative;
  margin: auto;
  color: white;
}

.IntroHeader{
  position: relative;
  width: 40%;
  margin: auto;
  color: #480091;
}

.IntroParagraph{
  position: relative;
  top: 30px;
}


/*AboutMe CSS*/

.AboutMePage{
  position: relative;
  left: 500px;
  color: white;
}

.AboutMeHeader{
  position: relative;
  left: 155px;
  color: black;
}

.MyInfoList{
  position: relative;
  left: 200px;
}

.ProfileSelfPic{
  position: relative;
  right: 130px;
  bottom: 250px;
  border-radius: 41%;
}

.ProfileLineV{
  position: relative;
  right: 765px;
  bottom: 250px;
}

.FullNameHR{
  position: relative;
  right: 665px;
  bottom: 615px;
}

.InfoFullName{
  position: relative;
  bottom: 700px;
  left: 125px;
}

.AddressHR{
  position: relative;
  right: 665px;
  bottom: 615px;
}

.InfoAddress{
  position: relative;
  bottom: 700px;
  left: 125px;
}

.EmailHR{
  position: relative;
  right: 665px;
  bottom: 615px;
}

.InfoEmail{
  position: relative;
  bottom: 700px;
  left: 125px;
}


/*Skills CSS*/

.SkillsPage{
  text-align: center;
margin: auto;
}

.AdditionalPage{
position: relative;
top: 100px;
}


/* SkillBar CSS*/

.LevelUL{
list-style-type: none;
display: flex;
position: relative;
top: 50px;
left:20px;
}

.LevelBeginner{
  padding-right: 50px;
  transform: rotate(45deg);

}

.LevelIntermediate{
  padding-right: 50px;
  transform: rotate(45deg);
  position: relative;
  top: 10px;
}

.LevelAdvanced{
  padding-right: 50px;
  transform: rotate(45deg);
}

.LevelExpert{
  transform: rotate(45deg);
  position: relative;
  bottom: 20px;
}



.skillBarDiv{
  width: 500px;
  position: relative;
  top: 25px;
  color: black
}

.BarUl{
  list-style-type: none;
}
.bar{
  background: #353b48;
  display: block;
  height: 2px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
  height: 2px;
  float: left;
  background: #6CC4BB;
}

.BarHTML{
  width: 70%;
  animation: BarHTML 2s;
}

@keyframes BarHTML {
  0%{
    width: 0%
  }
  100%{
    width: 70%
  }
}


.BarCSS{
  width: 70%;
  animation: BarCSS 3s;
}

@keyframes BarCSS {
  0%{
    width: 0%
  }
  100%{
    width: 70%
  }
}

.BarJavaScript{
  width: 70%;
  animation: BarJavaScript 4s;
}

@keyframes BarJavaScript {
  0%{
    width: 0%
  }
  100%{
    width: 70%
  }
}

.BarReact{
  width: 40%;
  animation: BarReact 4s;
}

@keyframes BarReact{
  0%{
    width: 0%
  }
  100%{
    width: 40%
  }
}

.BarNode{
width:  40%;
animation: BarNode 4s;
}

@keyframes BarNode {
  0%{
    width: 0%
  }
  100%{
    width: 40%
  }
}
.BarMicroOffice{
  width: 70%;
  animation: BarMicroOffice 2s;
}

@keyframes BarMicroOffice  {
  0%{
    width:0%
  }
  100%{
    width: 70%
  }
}

.BarDraw{
  width: 70%;
  animation: BarDraw 2s
}

@keyframes BarDraw {
  0%{
    width:0%;
  }
  100%{
    width: 70%;
  }
}

.BarCastify{
  width: 40%;
  animation: BarCastify 2s
}

@keyframes BarCastify {
  0%{
    width:0%;
  }
  100%{
    width: 40%;
  }
}

.BarGit{
  width: 70%;
  animation: BarGit 2s
}

@keyframes BarGit {
  0%{
    width:0%
  }
  100%{
    width: 70%
  }
}

/*Education CSS*/

.EducationPage{
  position: relative;
  left: 450px;
  color: white;
}

.EducationHeader{
  position: relative;
  left: 155px;
}

/*Accordion CSS*/
.AccordionPage{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
}
.accordion{
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: backgound-color 0.6s ease;
  height: 45px;
  width: 450px;
  position: relative;
  align-self: center;
}



.accordion:hover,
.active{
  background-color: #ccc;
}

.AccordionTitle{
font-weight: 600;
font-size: 14px;
}

.accordion_icon{
  margin-left: auto;
  transition: transform 0.6n ease;
}

.AccordionText{
  color: black;
  padding-left: 25px;
  padding-right: 25px;
}

.rotate{
  transform:  rotate(90deg);
}

.AccordionContent{
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s easeS;
}


/*Experience CSS */

.TooltipIcon{
  position: relative;
}

.ExperiencePage{
  position: relative;
  left: 375px;
  top: 150px;
}

.XPDiv{
width: 600px;
padding: 25px;
display: flex;
flex-direction: row;
}

.XPHeader{
  display: flex;
  position: relative;
  bottom: 50px;
}

.XPDates{
  display: flex;
position: relative;
bottom: 50px;
}



.Trophy{
height: 75px;
padding-left: 45px;
}

.Olympic{

}
.OlympicDates{
  position: relative;
  right:5px;
}

.TajM{
height: 75px;
position: relative;
left: 135px;
}

.Gateway{
  position: relative;
  left: 75px;
}

.GatewayDates{
  position: relative;
  left: 60px;
}

.Burger{
  position: relative;
  left: 275px;
  padding-right: 45px;
  height: 75px;
}

.Jefe{
  position: relative;
  left:  125px;
}

.JefeDates{
  position: relative;
  left: 115px;
}



@media screen and (max-width:400px){
  .HeaderDiv{
    position: relative;
    bottom: 30px;
    width: 100%;
    height: 50%;
  }

  .Headerh1{
    position: relative;
    color: #480091;
    padding-top: 1%
  }

  .HeaderLinks{
    height: 75%;
    position: relative;
    text-align: center;
    right:400px;
  }

  .HeaderLinksUL{
  }


}

@media only screen (min-width:400px) and (max-width: 600px;)
